<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <title>My ToDo List</title>
</head>
    <body>
    <div class="wrapper">
        <form th:action="@{/login}" method="post">

            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <input type="submit" value="Log In">
        </form>
        <form th:action="@{/registration}" method="get">

            <input type="submit" value="Sign Up">
        </form>
    </div>
</body>
</html>