<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<div th:replace="fragments/general.html :: header"></div>
<body>
<div th:replace="fragments/general.html :: logout"></div>
<h1>Hello <span th:text="${user.username}"></span> !</h1>


<div>
    <form th:action="@{/projects/add/project}" method="post">
        <div><label> Project name: <input type="text" name="name"/> </label></div>
        <div><input type="submit"/></div>
    </form>
</div>

<p th:text="${user}"></p>

<div>
    <div th:each="project: ${user.projects}">
        <p th:text="${project.name}"></p>

        <div th:each="task: ${project.tasks}">
            <p th:text="${task.title}"></p>
            <p th:text="${task.text}"></p>
            <br>
        </div>

        <form th:action="@{/projects/add/task}" method="post">
            <div><input type="hidden" name="id" th:value="${project.id}"/></div>
            <div><label>Task title: <input type="text" name="title"/></label></div>
            <div><label>Task text: <input type="text" name="text"/></label></div>
            <div><input type="submit"/></div>
        </form>

        <br>
    </div>
</div>

</body>
</html>