<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<div th:replace="fragments/general.html :: header"></div>
<body>
<div class="login">
    <p class="login-title">Зарегистрироваться</p>
    <form th:action="@{/registration}" method="post" class="login-form">

        <input class="login-input" type="text" placeholder="Введите логин или email" name="username" id="user_login">
        <br>

        <input class="login-input" type="password" placeholder="Введите пароль" name="password" id="password">
        <br>

        <input class="login-submit" type="submit" value="Зарегистрироваться" name="login">
        <br>

    </form>
</div>
</body>
<script>
</script>
</html>